@tailwind base;
@tailwind components;
@tailwind utilities;
/*!========== common use css ==========*/

@font-face {
  font-family: "poppins";
  src: url(./assets/Poppins-Regular.ttf);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none !important;
  scroll-behavior: smooth;
  font-family: "poppins";
}
